{% extends "base_page.html" %}

{% block content %}
<form method="POST" action="/teacher/create-group" class="form">
    <div><label>Название: <input placeholder="Название группы: " name="title" type="text" class="form-control" maxlength="100" required/></label></div>

    <table>
        <tr>
            <th>Имя</th>
            <th>Логин</th>
            <th>Добавить</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.surname + " " + student.name + " " + student.patronymic }}</td>
            <td>{{ student.login }}</td>
            <td>
                <div class="radio-container">
                    <input type="checkbox" name="check{{ student.id }}" id="check{{ student.id }}">
                    <label for="check{{ student.id }}">Добавить</label>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<font color="red">{{ message }}</font>
{% endblock %}
