{% extends "base_page.html" %}

{% block content %}
<h1>Модули в группе {{ group_name }}</h1>
<font color="red">{{ message }}</font>

{% if role == 'teacher' %}
<form method="post" action="/teacher/group/{{ group_id }}">
    <div><label>Название: <input placeholder="Название группы: " name="title" type="text" class="form-control"
                                 maxlength="100" required/></label></div>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>
{% endif %}

<div class="card-columns">

    {% for module in modules %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ module.name }}</h4>
            <a href="/teacher/group/{{ group_id }}/module/{{ module.id }}" class="btn btn-primary">Посмотреть</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
